
<%- include('partials/header'); -%>

<body>
  <div class="text-center">

    <h4>Contact us:</h4>
      <p>
          <a href = "mailto: ratnaparkhionkar@gmail.com">Send Email</a><br />
          <a href = "https://www.linkedin.com/in/onkar-ratnaparkhi-27512318b/">Linkedin</a>
      </p>
  </div>

</body>


<%- include('partials/footer'); -%>
