
<%- include('partials/header'); -%>

<body>
<div class="text-center box">
  <form action="/getpid" method="POST">
    <div class="mb-3">
      <label  class="form-label">Patient's email address</label>
      <input type="text" class="form-control" name="email">
    </div>
    <button type="submit" class="btn btn-primary">get my pid</button>
  </form>
</div>



<%- include('partials/footer'); -%>
