
<%- include('partials/header'); -%>

<body>
  <div class="text-center">

    <p>
      <br/>
      <a href="/newpatient">Add new Patient</a>
      <br/>
      <a href="/getpid">Show my patient id</a>
      <br/>
      <a href="/newcase">Add new Case for existing patient</a>
    </p>

  </div>

</body>


<%- include('partials/footer'); -%>
