
<%- include('partials/header'); -%>

<body>
  <div class="container">

    <p>
      <br/>
      <a href="/newpatient">Register new Patient</a>
      <br/>
      <a href="/getpid">Show pid</a>
      <br/>
      <a href="/newcase">Add new case for an existing patient</a>
      <br/>
      <a href="/doctorlist">Check the list of all doctors</a>
    </p>

  </div>

</body>


<%- include('partials/footer'); -%>
