
<%- include('partials/header'); -%>

<body>
  <div class="text-center">

    <p>
      <br/>
      <a href="/newPatient">Add new Patient</a>
      <br/>
      <a href="/newCase">Add new Case for existing patient</a>
    </p>

  </div>

</body>


<%- include('partials/footer'); -%>
